.button {
	color: white;
	text-transform: uppercase;
	display: grid;
	place-items: center;
	letter-spacing: 0.1em;
	background-color: #283618;
	padding: 1rem 2rem;
	border-radius: 0.5rem;
	min-height: 45px;

	&:hover {
		opacity: 0.9;
		transition: opacity 0.3s;
	}

	&:active {
		opacity: 0.9;
	}

	&:focus {
		outline: none;
	}
}
