@tailwind base;
@tailwind components;
@tailwind utilities;


html {
	font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
}

.container {
	max-width: 1420px;
	margin: 0 auto;
	padding: 0 20px;
}

@layer base {
	:root {
		--background-header: #fff;
		--background-aside: #606C38;
		--background-main: #EBEBEB;

		--text-color-header: #000;
		--text-color-aside: #fff;
		--text-color-main: #000;

	}

	.dark {
		--background-header: #000;
		--background-side: #283618;
		--background-main: #222;

		--text-color-header: #fff;
		--text-color-aside: #fff;
		--text-color-main: #fff;

	}
}


@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}